.button_certificate {
  color: black;
  background: linear-gradient(340deg, hsl(60, 100%, 50%) 55%, hsl(25, 100%, 40%) 100%);
  border: var(--border-thickness-medium) solid hsl(0, 100%, 25%);
  box-shadow: 3px 3px 0 hsl(60, 100%, 25%), 6px 6px 5px rgb(0, 0, 0);
}

.button_certificate:hover {
  font-size: inherit;
  box-shadow: 1px 1px 0 hsl(60, 100%, 25%), 2px 2px 5px rgb(0, 0, 0);
  border-color: hsl(100, 100%, 35%);
}

.button_certificate:focus {
  font-size: inherit;
  box-shadow: 1px 1px 0 hsl(60, 100%, 25%), 2px 2px 5px rgb(0, 0, 0);
  border-color: hsl(100, 100%, 35%);
}
