/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/main.css ***!
  \*******************************************************************/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
}

/* @font-face {
    font-family: "zarubkaType-Regular";
    src: url('fonts/zarubkaType-Regular.ttf') format('ttf');
    font-weight: 400;
} */

    .multiverse-memes-font{
        font-family: 'zarubkaType-Regular', sans-serif;
    }

details summary ~ div{
    overflow: hidden;
}

    details[open] summary ~ div{ 
        animation: sweep-open 2s ease-in-out;
    }

    @keyframes sweep-open {
    from {max-height:0;}
    to {max-height:2500px;}
    }
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/colors.css ***!
  \***************************************************************************/
:root{
    --text-color: white;
    --border-color: grey;
    --background-color: hsl(0, 0%, 5%);
    --button-border-color: grey;
    --button-background-color: hsl(0, 0%, 15%);
    --brend-color: hsl(180, 100%, 50%);
    --brend-shadow-color: hsl(210, 100%, 50%);

    --difficulty-easy: hsl(120, 100%, 70%);
    --difficulty-medium: hsl(70, 100%, 70%);
    --difficulty-hard: hsl(35, 100%, 70%);
    --difficulty-very-hard: hsl(0, 100%, 70%);

    --technology-languages: hsl(120, 80%, 50%);
    --technology-frameworks: hsl(200, 80%, 50%);
    --technology-work-environment: hsl(250, 80%, 50%);
    --technology-methodologyes: hsl(285, 80%, 50%);
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/fonts.css ***!
  \**************************************************************************/
:root{
    --font-size-16px: 16px;
    --font-size-18px: 18px;
    --font-size-20px: 20px;
    --font-size-22px: 22px;
    --font-size-24px: 24px;
    --font-size-26px: 26px;
    --font-size-34px: 34px;
    --font-size-40px: 40px;
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/transitions.css ***!
  \********************************************************************************/
:root{
    --animation-duration-01s: 0.1s;
    --animation-duration-03s: 0.3s;
    --animation-duration-05s: 0.5s;
    --animation-duration-07s: 0.7s;
    --animation-duration-1s: 1s;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/offsets.css ***!
  \****************************************************************************/
:root{
    --offset-5px: 5px;
    --offset-8px: 8px;
    --offset-10px: 10px;
    --offset-15px: 15px;
    --offset-20px: 20px;
    --offset-30px: 30px;
    --offset-40px: 40px;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/borders.css ***!
  \****************************************************************************/
:root{
    --border-thickness-thin: 1px;
    --border-thickness-medium: 2px;
    --border-thickness-thick: 3px;

    --small-border-radius: 5px;
    --average-border-radius: 10px;
    --big-border-radius: 15px;
}
/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./styles/roots/content-size.css ***!
  \*********************************************************************************/
:root{
    --content-max-width: 1200px;
    --content-min-width: auto;
}
/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/body/body.css ***!
  \*******************************************************************************/
.body{
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;

    font-family:  "Kelly Slab", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    
    color: var(--text-color);
    background-color: var(--background-color);
}
/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/brand/brand.css ***!
  \*********************************************************************************/
.brand{
    margin-right: var(--offset-40px);

    font-size: var(--font-size-34px);
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 5rem var(--brend-shadow-color);
    
    color: var(--brend-color);

    transition: text-shadow var(--animation-duration-05s);
}

.brand:hover{
    text-shadow: 0 0 2rem var(--brend-shadow-color);
}

.brand:focus{
    text-shadow: 0 0 2rem var(--brend-shadow-color);
}
/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/button/button.css ***!
  \***********************************************************************************/
.button{
    padding: 10px;
    margin: 0 5px;
    
    color: inherit;
    font-size: large;
    font-weight: 600;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--average-border-radius);
    text-align: center;
    text-wrap: nowrap;

    transition: 
    background-color var(--animation-duration-1s);
}

.button:hover{
    background-color: lch(from var(--button-background-color) calc(l + 20) c h);
}

.button:focus{
    background-color: lch(from var(--button-background-color) calc(l + 20) c h);
}
/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/difficulty-tag/difficulty-tag.css ***!
  \***************************************************************************************************/
.difficulty-tag{
    display: inline;
    position: absolute;
    padding: 5px;
    right: var(--offset-10px);

    font-size: large;
    text-align: center;

    color: #000;
    background-color: #ccc;
    border: 2px solid #333;
    border-radius: var(--average-border-radius);
    box-shadow: 2px 2px 5px #fff;
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/difficulty-tag/_theme_easy/difficulty-tag_theme_easy.css ***!
  \**************************************************************************************************************************/
.difficulty-tag_theme_easy{
    background-color: var(--difficulty-easy);
    border-color: hsl(from var(--difficulty-easy) h s calc(l - 30));
    box-shadow: 0 0 var(--offset-10px) hsl(from var(--difficulty-easy) h s calc(l - 30));
}

.difficulty-tag_theme_easy::after{
    content: "Easy";
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/difficulty-tag/_theme_medium/difficulty-tag_theme_medium.css ***!
  \******************************************************************************************************************************/
.difficulty-tag_theme_medium{
    background-color: var(--difficulty-medium);
    border-color: hsl(from var(--difficulty-medium) h s calc(l - 30));
    box-shadow: 0 0 var(--offset-10px) hsl(from var(--difficulty-medium) h s calc(l - 30));
}

.difficulty-tag_theme_medium::after{
    content: "Medium";
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/difficulty-tag/_theme_hard/difficulty-tag_theme_hard.css ***!
  \**************************************************************************************************************************/
.difficulty-tag_theme_hard{
    background-color: var(--difficulty-hard);
    border-color: hsl(from var(--difficulty-hard) h s calc(l - 30));
    box-shadow: 0 0 var(--offset-10px) hsl(from var(--difficulty-hard) h s calc(l - 30));
}

.difficulty-tag_theme_hard::after{
    content: "Hard";
}
/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/difficulty-tag/_theme_very-hard/difficulty-tag_theme_very-hard.css ***!
  \************************************************************************************************************************************/
.difficulty-tag_theme_very-hard{
    background-color: var(--difficulty-very-hard);
    border-color: hsl(from var(--difficulty-very-hard) h s calc(l - 30));
    box-shadow: 0 0 var(--offset-10px) hsl(from var(--difficulty-very-hard) h s calc(l - 30));
}

.difficulty-tag_theme_very-hard::after{
    content: "Very hard";
}
/*!***************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/dropdown/dropdown.css ***!
  \***************************************************************************************/
.dropdown {
    display: none;
    position: relative;
}

.dropdown:hover .dropdown__content {display: flex;}
/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/dropdown/__content/dropdown__content.css ***!
  \**********************************************************************************************************/
.dropdown__content{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    padding: var(--offset-10px);
    gap: var(--offset-10px);

    border: var(--border-thickness-thin) solid var(--border-color);
    border-radius: var(--average-border-radius);

    background-color: var(--background-color);
    box-shadow: 0px 4px var(--offset-10px) 0px var(--text-color);

    z-index: 1;
}
/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/exit-button/exit-button.css ***!
  \*********************************************************************************************/
.exit-button{
    display: block;
    position: fixed;
    width: 35px;
    height: 35px;
    right: 0;
    top: 0;
    margin: 5px;

    /* color: var(--text-color); todo */
    color: white;
    font-size: larger;
    line-height: 35px;
    font-weight: 600;
    /* background-color: var(--background-color); todo */
    background-color: black;
    /* border-color: var(--text-color); todo */
    border-color: white;
    border-radius: var(--average-border-radius);

    transition: 
    background-color var(--animation-duration-03s);
}

.exit-button:hover{
    background-color: lch(from var(--background-color) calc(l - 15) c h);
}

.exit-button:focus{
    background-color: lch(from var(--background-color) calc(l - 15) c h);
}
/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/footer/footer.css ***!
  \***********************************************************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    min-width: var(--content-min-width);
    margin: var(--offset-20px) auto var(--offset-10px) auto;
    padding: var(--offset-10px) 0;

    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--average-border-radius);
}
/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/footer/__header/footer__header.css ***!
  \****************************************************************************************************/
.footer__header{
    font-size: larger;
    font-weight: 600;
}
/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/icon/icon.css ***!
  \*******************************************************************************/
.icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}
/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/image-content-grid/image-content-grid.css ***!
  \***********************************************************************************************************/
.image-content-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: 750px) and (max-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
    };

    @media (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
    };
}

.image-content-grid-2-columns{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 750px) {
        grid-template-columns: 1fr;
    };
}
/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/info-container/info-container.css ***!
  \***************************************************************************************************/
.info-container{
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--average-border-radius);
    padding: var(--offset-10px);
    margin: var(--offset-10px);
    margin-left: 0;
}
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/info-container/__header/info-container__header.css ***!
  \********************************************************************************************************************/
.info-container__header{
    margin-top: var(--offset-40px);
    
    font-size: var(--font-size-26px);
    font-weight: 600;
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/info-container/__description/info-container__description.css ***!
  \******************************************************************************************************************************/
.info-container__description{
    margin: var(--offset-10px);
}
/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/info-container/__summary/info-container__summary.css ***!
  \**********************************************************************************************************************/
.info-container__summary{
    margin-bottom: 10px;
    padding-right: 120px;
    
    font-size: larger;
    font-weight: 600;
    
    cursor: pointer;
    transition: font-size var(--animation-duration-03s);
}

.details-summary:hover{
    font-size: 24px;
}

.details-summary:focus{
    font-size: 24px;
}
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/info-container/__video/info-container__video.css ***!
  \******************************************************************************************************************/
.info-container__video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--offset-20px);

    border: var(--border-thickness-thin) solid var(--border-color);
    border-radius: var(--average-border-radius);
    box-shadow: 0 0 var(--offset-15px) var(--text-color);
}
/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/link/link.css ***!
  \*******************************************************************************/
.link{
    color: var(--text-color);
    text-decoration: none;

    transition: font-size var(--animation-duration-03s);
}

.link:hover{
    font-size: calc(1em + 4px);
}

.link:focus{
    font-size: calc(1em + 4px);
}
/*!************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/link/_contact/link_contact.css ***!
  \************************************************************************************************/
.link_contact{
    display: flex;
    align-items: center;
    font-size: large;
}
/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/link/_stack/link_stack.css ***!
  \********************************************************************************************/
.link_stack{
    color: white;
    text-decoration: none;
}
/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/link/_inner/link_inner.css ***!
  \********************************************************************************************/
.link_inner{
    font-weight: 600;
    font-size: var(--font-size-20px);
}
/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/link/_theme_dashed/link_theme_dashed.css ***!
  \**********************************************************************************************************/
.link_theme_dashed{
    text-decoration: underline;
    text-decoration-style: dashed;
}
/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/navigation/navigation.css ***!
  \*******************************************************************************************/
.navigation{
    display: flex;
    position: fixed;
    width: 100%;
    min-width: var(--content-min-width);
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 20px;

    justify-content: center;
    align-items: center;

    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    
    z-index: 1;
}
/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/navigation/__menu/navigation__menu.css ***!
  \********************************************************************************************************/
.navigation__menu{
    display: flex;
}
/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/popup-overlay/popup-overlay.css ***!
  \*************************************************************************************************/
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  
    background-color: rgba(0, 0, 0, 0.8);
  }
/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/popup-overlay/__popup/popup-overlay__popup.css ***!
  \****************************************************************************************************************/
.popup-overlay__popup {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--offset-40px));
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: var(--offset-10px);
    transform: translate(-50%, -50%);
  
    background-color: hsla(0, 0%, 0%, 0.7);
    box-shadow: 0 0 var(--offset-20px) var(--text-color);
    border-radius: var(--average-border-radius);
    
    object-fit: contain;
}
/*!**********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/popup-overlay/__extended-image/popup-overlay__extended-image.css ***!
  \**********************************************************************************************************************************/
.popup-overlay__extended-image{
    /* width: 100%; */
    /* height: 100%; */
    max-width: 100%;
    max-height: 1000px;
  }
/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/project-type/project-type.css ***!
  \***********************************************************************************************/
.project-type{
    margin-left: var(--offset-10px);
}
/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-description/stack-description.css ***!
  \*********************************************************************************************************/
.stack-description{
    display: inline;

    font-size: larger;
    font-weight: 600;
    line-height: 30px;
}
/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-description/_theme_languages/stack-description_theme_languages.css ***!
  \******************************************************************************************************************************************/
.stack-description_theme_languages{
    color: var(--technology-languages);
}
/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-description/_theme_frameworks/stack-description_theme_frameworks.css ***!
  \********************************************************************************************************************************************/
.stack-description_theme_frameworks{
    color: var(--technology-frameworks);
}
/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-description/_theme_work-environment/stack-description_theme_work-environment.css ***!
  \********************************************************************************************************************************************************/
.stack-description_theme_work-environment{
    color: var(--technology-work-environment);
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-description/_theme_methodologyes/stack-description_theme_methodologyes.css ***!
  \**************************************************************************************************************************************************/
.stack-description_theme_methodologyes{
    color: var(--technology-methodologyes);
}
/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/technology-unit/technology-unit.css ***!
  \*****************************************************************************************************/
.technology-unit{
    display: inline;
    margin: 0px 4px;
    padding-left: 10px;
    padding-right: 6px;
    
    text-align: center;
    font-weight: 600;
    line-height: 35px;

    border: var(--border-thickness-medium) solid;
    border-radius: var(--average-border-radius);
    
    cursor: pointer;
    transition: font-size var(--animation-duration-03s);
}

.technology-unit:hover{
    font-size: larger;
}

.technology-unit:focus{
    font-size: larger;
}
/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/technology-unit/_theme_frameworks/technology-unit_theme_frameworks.css ***!
  \****************************************************************************************************************************************/
.technology-unit_theme_frameworks{
    background-color: var(--technology-frameworks);
    box-shadow: 0 0 var(--offset-5px) var(--technology-frameworks);
    border-color: hsl(from var(--technology-frameworks) h s calc(l - 10));
}
/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/technology-unit/_theme_languages/technology-unit_theme_languages.css ***!
  \**************************************************************************************************************************************/
.technology-unit_theme_languages{
    background-color: var(--technology-languages);
    box-shadow: 0 0 var(--offset-5px) var(--technology-languages);
    border-color: hsl(from var(--technology-languages) h s calc(l - 10));
}
/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/technology-unit/_theme_work-environment/technology-unit_theme_work-environment.css ***!
  \****************************************************************************************************************************************************/
.technology-unit_theme_work-environment{
    background-color: var(--technology-work-environment);
    box-shadow: 0 0 var(--offset-5px) var(--technology-work-environment);
    border-color: hsl(from var(--technology-work-environment) h s calc(l - 10));
}
/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/technology-unit/_theme_methodologyes/technology-unit_theme_methodologyes.css ***!
  \**********************************************************************************************************************************************/
.technology-unit_theme_methodologyes{
    background-color: var(--technology-methodologyes);
    box-shadow: 0 0 var(--offset-5px) var(--technology-methodologyes);
    border-color: hsl(from var(--technology-methodologyes) h s calc(l - 10));
}
/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/theme-toggle/theme-toggle.css ***!
  \***********************************************************************************************/
.theme-toggle{
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: padding var(--animation-duration-03s);
}

.theme-toggle:hover{
    padding: 2px;
    border: 1px solid var(--text-color);
    border-radius: var(--average-border-radius);
}
/*!*****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/stack-container/stack-container.css ***!
  \*****************************************************************************************************/
.stack-container{
    display: inline-block;
}
/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/promo-card/promo-card.css ***!
  \*******************************************************************************************/
.promo-card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 5px;
    transform: perspective(2000px) rotatey(0deg) rotatex(0deg);

    text-align: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), var(--button-border-color));

    border: 1px solid var(--border-color);
    border-radius: var(--average-border-radius);

    cursor: pointer;
    transition: 
    filter var(--animation-duration-05s),
    transform var(--animation-duration-03s) ease;
}

.promo-card:hover{
    filter: drop-shadow(0 0 0.75rem var(--text-color)); 
}

.promo-card:focus{
    filter: drop-shadow(0 0 0.75rem var(--text-color)); 
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/promo-card/__animated-border/promo-card__animated-border.css ***!
  \******************************************************************************************************************************/
.promo-card__animated-border {
    display: flex;
    margin-bottom: 5px;
    --angle: 0deg;

    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./common.blocks/image/image.css ***!
  \*********************************************************************************/
.image{
    max-width: 100%;
    max-height: 100%;
}
