.technology-unit_theme_work-environment{
    background-color: hsl(from var(--technology-work-environment) h s calc(l - 20));
    border-color: hsl(from var(--technology-work-environment) h s calc(l + 10));
    box-shadow: 0 0 var(--offset-15px) var(--technology-work-environment);
}