.technology-unit{
    display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 6px;
    margin: 0px 4px;
    line-height: 35px;

    font-weight: 600;
    background-color: var(--stack-background-color);
    border: var(--border-thickness-medium) solid var(--stack-border-color);
    border-radius: var(--average-border-radius);
    box-shadow: 0 0 var(--offset-8px) var(--brend-color);
    
    cursor: pointer;
    transition: font-size var(--animation-duration-03s);
}

.technology-unit:hover{
    font-size: larger;
}

.technology-unit:focus{
    font-size: larger;
}