.technology-unit{
    display: inline;
    margin: 0px 4px;
    padding-left: 10px;
    padding-right: 6px;
    
    font-size: var(--font-size-18px);
    text-align: center;
    font-weight: 600;
    line-height: 35px;

    border: var(--border-thickness-medium) solid;
    border-radius: var(--average-border-radius);
    
    cursor: pointer;
    transition: font-size var(--animation-duration-03s);
}

.technology-unit:hover{
    font-size:  var(--font-size-22px);
}

.technology-unit:focus{
    font-size: var(--font-size-22px);
}