.popup-overlay__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - var(--offset-40px));
    margin: 0 auto;
    padding: var(--offset-10px);
    transform: translate(-50%, -50%);
  
    background-color: var(--button-background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: var(--average-border-radius);
    
    object-fit: contain;
}