.stack-description {
  display: inline-flex;
  margin-top: var(--offset-10px);
  margin-bottom: var(--offset-20px);
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;

  font-size: larger;
  font-weight: 600;
  line-height: var(--offset-40px);
}
