:root{
    --border-thickness-thin: 1px;
    --border-thickness-medium: 2px;
    --border-thickness-thick: 3px;

    --small-border-radius: 5px;
    --average-border-radius: 10px;
    --big-border-radius: 15px;
}