:root{
    --text-color: white;
    --border-color: grey;
    --background-color: hsl(0, 0%, 5%);
    --button-border-color: grey;
    --button-background-color: hsl(0, 0%, 15%);
    --brend-color: hsl(180, 100%, 50%);

    --difficulty-easy: hsl(120, 100%, 70%);
    --difficulty-medium: hsl(70, 100%, 70%);
    --difficulty-hard: hsl(35, 100%, 70%);
    --difficulty-very-hard: hsl(0, 100%, 70%);

    --technology-languages: hsl(120, 80%, 50%);
    --technology-frameworks: hsl(200, 80%, 50%);
    --technology-work-environment: hsl(250, 80%, 50%);
    --technology-methodologyes: hsl(285, 80%, 50%);
}