.brand{
    text-shadow: 2px 2px 5rem rgb(0, 162, 255);
    margin-right: 2rem;
    color: var(--brend-color);
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;

    transition: text-shadow var(--animation-duration-05s);
}

.brand:hover{
    text-shadow: 2px 2px 2rem rgb(0, 162, 255);
}

.brand:focus{
    text-shadow: 2px 2px 2rem rgb(0, 162, 255);
}