.info-container{
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--average-border-radius);
    padding: var(--offset-10px);
    margin: var(--offset-10px);
    margin-left: 0;

    background-color: var(--background-color);
}