.difficulty-tag{
    transform: skew(var(--main-skew));

    display: inline;
    position: absolute;
    margin-left: auto;
    padding: 5px;
    top: 0;
    right: 0;

    font-size: large;
    font-weight: 600;
    text-align: center;

    color: #000;
    background-color: #ccc;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #fff;
}