.difficulty-tag_theme_hard{
    background-color: var(--difficulty-hard);
    border-color: hsl(from var(--difficulty-hard) h s calc(l - 30));
    box-shadow: 0 0 var(--offset-10px) hsl(from var(--difficulty-hard) h s calc(l - 30));
}

.difficulty-tag_theme_hard::after{
    content: "Hard";
}