.project-version {
  padding: 5px;

  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 5px;

  border-color: hsl(from var(--text-color) h s calc(l + 10));
  box-shadow: 0 0 var(--offset-10px) var(--text-color),
    3px 3px 2px hsl(from var(--text-color) h s calc(l - 30));
}
