.info-container_highlighted {
    background-image:
        radial-gradient(#ff9a03 1px, transparent 1px), radial-gradient(#ff9a03 1px, transparent 1px);
    background-size: 20px 20px;
    /* Смещаем второй слой на половину размера ячейки */
    background-position:
        0 0,
        10px 10px;
}
