.dropdown__content {
  position: absolute;
  right: 0;
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--offset-10px);
  gap: var(--offset-10px);

  border: var(--border-thickness-thin) solid var(--border-color);
  border-radius: var(--average-border-radius);
  background-color: var(--window-background-color);
  box-shadow: 0px 4px var(--offset-10px) 0px var(--text-color);
}
