.technology-unit_theme_frameworks{
    background-color: var(--technology-frameworks);
    box-shadow: 0 0 var(--offset-5px) var(--technology-frameworks);
    border-color: hsl(from var(--technology-frameworks) h s calc(l - 10));
}