.technology-unit_theme_frameworks {
  background-color: hsl(from var(--technology-frameworks) h s calc(l - 20));
  border-color: hsl(from var(--technology-frameworks) h s calc(l + 10));
  box-shadow: 0 0 var(--offset-10px) var(--technology-frameworks),
    3px 3px 0 hsl(from var(--technology-frameworks) h s calc(l - 30)),
    5px 5px var(--offset-5px) black;
}
