* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Kelly Slab", sans-serif;
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--brend-color);
  color: black;
}

svg{
  width: 100%;
  height: 100%;
}

div.detailts-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

details[open] + div.detailts-content {
  max-height: 4000px;
  transition: max-height 2s ease-out;
}
