*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:  "Kelly Slab", sans-serif;
    scroll-behavior: smooth;
}

details summary ~ div{
    overflow: hidden;
}

    details[open] summary ~ div{ 
        animation: sweep-open 2s ease-in-out;
    }

    @keyframes sweep-open {
    from {max-height:0;}
    to {max-height:2500px;}
    }