:root{
    --text-color: white;
    --border-color: grey;
    --background-color: rgb(15, 15, 15);
    --button-border-color: grey;
    --button-background-color: rgb(32, 32, 32);

    --border-radius: 10px;

    --content-max-width: 1200px;
    --contetn-min-width: 400px;

    --animation-delay-01s: 0.1s;
    --animation-delay-03s: 0.3s;
    --animation-delay-05s: 0.5s;
    --animation-delay-07s: 0.7s;
    --animation-delay-1s: 1s;
}

*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    position: fixed;
    width: 100%;
    max-width: var(--content-max-width);
    min-width: var(--contetn-min-width);
    height: 50px;
    margin-bottom: 50px;
    padding: 5px 20px;

    justify-content: center;
    align-items: center;

    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
}

    .navigation .nav-container{
        max-width: var(--content-max-widthth);
    }

    .brand{
        text-shadow: 2px 2px 5rem rgb(0, 162, 255);
        margin-right: 2rem;
        color: rgb(61, 255, 255);
        font-size: 2rem;
        font-weight: 900;
        text-decoration: none;

        transition: text-shadow var(--animation-delay-05s);
    }

    .brand:hover{
        text-shadow: 2px 2px 2rem rgb(0, 162, 255);
    }

    .nav-button{
        font-size: large;
        padding: 10px;
        margin: 0 5px;

        color: inherit;
        background-color: var(--button-background-color);
        border: 1px solid var(--button-border-color);
        border-radius: var(--border-radius);

        transition: 
        background-color var(--animation-delay-1s),
        font-weight var(--animation-delay-03s);
    }

    .nav-button:hover{
        font-weight: 700;
        background-color: lch(from var(--button-background-color) calc(l + 20) c h);
    }

    .nav-button:focus{
        font-weight: 700;
        background-color: lch(from var(--button-background-color) calc(l + 20) c h);
    }

.body{
    max-width: var(--content-max-width);
    min-width: var(--contetn-min-width);
    margin-right: auto;
    margin-left: auto;

    background-color: var(--background-color);
}


.info-container{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    font-size: large;
    padding: 10px;
    color: var(--text-color);
}

    .info-container .inner-element{
        padding: 5px;
        margin: 10px 0;

        border: 1px solid var(--border-color);
        border-radius: 10px;
    }

    #image{
        max-width: 100%;
    }

.padding-top-10px{
    padding-top: 10px;
}

.padding-bottom-10px{
    padding-bottom: 10px;
}