*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
}

/* @font-face {
    font-family: "zarubkaType-Regular";
    src: url('fonts/zarubkaType-Regular.ttf') format('ttf');
    font-weight: 400;
} */

    .multiverse-memes-font{
        font-family: 'zarubkaType-Regular', sans-serif;
    }

details summary ~ div{
    overflow: hidden;
}

    details[open] summary ~ div{ 
        animation: sweep-open 2s ease-in-out;
    }

    @keyframes sweep-open {
    from {max-height:0;}
    to {max-height:2500px;}
    }